<form >
  <label>
    Title
    {{input class="spec-edit-input-title" value=model.title}}
  </label>
  <label>
    Date
    {{input class="spec-edit-input-date" value=model.date}}
  </label>
  <label>
    Notes
    {{textarea class="spec-edit-textarea-notes" value=model.notes}}
  </label>
  {{#link-to "reminders.reminder-card"}}
    <button
      class='spec-reminder-edit--save'
      {{action 'editReminder' model on="click"}}>
      Save
    </button>
  {{/link-to}}
  <button
    class='spec-reminder-edit--revert'
    {{action 'revertReminder' model on="click"}}>
    Revert
  </button>
</form>
